@model Eshop.Models.Domain.Tbl_Messages

@{
    ViewBag.Title = "DetailsMessage";
    Layout = "~/Views/Shared/_Index.cshtml";
}





<div id="content">
    <div id="posts" class="teal masonry" style="position: relative; height: 182px;">

        <div style="padding:5px;margin:5px;font-family:Tahoma;text-align:right;direction:rtl;">

            <div>

                <dl class="dl-horizontal">


                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Message)
                    </dt>

                    <dd>
                        @Html.Raw(Model.Message)
                    </dd>


                </dl>
            </div>
            <p>

                @Html.ActionLink("برگشت به لیست", "ManageMessages", "User")
            </p>

        </div>
    </div>
</div>

<style>
    .dl-horizontal dt{
        font-weight:700;margin-bottom:10px;
    }

    dl-horizontal dd {

        margin: 10px;
        margin-right: 20px;
    }
</style>